{% extends 'base.html' %}

{% block title %}Home - Hospital Management{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4 mb-4">Book your Healthcare home</h2>
                <p class="lead mb-5">A comprehensive booking system for healthcare facilities.</p>
                
                <div class="d-flex justify-content-center">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg mx-3">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-success btn-lg mx-3">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
